#POSTGRES
POSTGRES_DB=db_name
POSTGRES_USER=db_username
POSTGRES_PASSWORD=db_password
POSTGRES_PORT=db_port

#MINIO
MINIO_USER=minio_username
MINIO_PASSWORD=minio_password

#CLICKHOUSE
CLICKHOUSE_DB=clickhouse_db_name
CLICKHOUSE_USER=clickhouse_user
CLICKHOUSE_PASSWORD=clickhouse_password

#REDIS
REDIS_PASSWORD=redis_server_password
REDIS_USER=redis_username
REDIS_USER_PASSWORD=redis_password

#BACKEND SETTING
SERVER_PORT=server_port

#FRONTEND_SETTING
FRONTEND_PORT=frontend_port
